
body {
	  text-rendering: optimizeLegibility;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-font-smoothing: antialiased;
	  font-smoothing: antialiased;
	  text-rendering: optimizeLegibility;
	  margin: 0;
	  padding: 0;
	}

p {
    text-indent: 25px;
    width:100%;
    line-height: 2;
}

/* unvisited link */
a:link {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color:rgb(31, 31, 46);
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

.title {
	width: 100%;
	background-color: rgb(48, 46, 46);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
  	box-shadow: 0px 0px 3px 3px #ccc;
}

.title .bigheader {
	font-family: 'Oxygen', sans-serif;
	width: 60%;
	font-size: 40;
	color: #fff;
	margin-left: 50;
	margin-top: 0px;
	font-weight: 400;
	line-height: 90%;
}

.title .subheader {
	font-family: 'Oxygen', sans-serif;
	width: 60%;
	font-size: 18;
	color: #555;
	margin-left: 0px;
	font-weight: 200;
	line-height: 100%;
}

h2 {
	font-family: 'Oxygen', sans-serif;
	width: 60%;
	font-size: 15;
	/*margin-left: 50;*/
	margin-top: 10px;
	font-weight: 400;
	line-height: 90%;
}
h3 {
	font-family: 'Oxygen', sans-serif;
	width: 100%;
	font-size: 14;
	margin-left: 0;
	margin-top: 30px;
	font-weight: 600;
	line-height: 90%;
}
h4 {
	font-family: 'Oxygen', sans-serif;
	width: 100%;
	font-size: 13;
	margin-left: 50;
	margin-top: 15px;
	font-weight: 600;
	line-height: 90%;
}
h5 {
	font-family: 'Oxygen', sans-serif;
	font-style: italic;
	width: 100%;
	font-size: 11;
	margin-left: 0;
	margin-top: 0px;
	font-weight: 500;
	line-height: 90%;
}
.fb-login-button {
	padding-left: 100px;
	margin-left: 100px;
}

.text {
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	width: 740px;
	margin-left: 0px;
/*		margin-right: auto;*/
	color: #222222;
	line-height: 2;
}

.textfontonly {
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	color: #222222;
	vertical-align: top;
}

.controls {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.quote {
	font-size: 13px;
	font-family: 'Oxygen', serif;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: #333333;
	text-align: center;
}

.textbutton {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
	font-family: 'Oxygen', serif;
}

.diversion {
	font-size: 13px;
	font-family: 'Oxygen', serif;
	width: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
	/*background-color: #444444;*/
	border-radius: 5px;
	border: 1px #999999 solid
}

.bigheader {
	font-family: 'Oxygen', sans-serif;
	width: 60%;
	font-size: 40;
	color: #333333;
	margin-left: 50;
	margin-top: 100px;
	font-weight: 400;
}

.mediumheader {
	font-family: 'Oxygen', sans-serif;
	width: 60%;
	font-size: 30;
	color: #333333;
	margin-left: 50px;
	margin-top: 100px;
	font-weight: 400;
}

.littleheader {
	font-family: '', sans-serif;
	width: 60%;
	font-size: 24;
	color: rgb(39, 40, 34);
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 25px;
	font-weight: 400;

}

.subheader {
	font-family: 'Oxygen', sans-serif;
	width: 100%;
	font-size: 24;
	color: #777;
	margin-left: 0px;
	font-weight: 400;
}

.partheader {
	font-family: 'Oxygen', sans-serif;
	width: 88%;
	font-size: 23;
	color: rgb(39, 40, 34);
	text-align:center;
	font-weight: 400;
	margin-top: 100px;
}

.partsubheader {
	font-family: 'Oxygen', sans-serif;
	width: 88%;
	font-size: 16;
	color: #777;
	font-weight: 400;
	text-align:center;
}

.figureExplanation {
	font-family: 'Oxygen', sans-serif;
	font-size: 11;
	padding-left: 100px;
	vertical-align: top;
	width: 500px;
	color: #666;
}

.figureTable {
	width: 1000px;
	margin-left: 50px;
}

.figureCaption
{
	text-align:center;
	font-size:12px;
	font-family: 'Oxygen', serif;
}


.footnote {
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	width: 740px;
	margin-left: 0px;
/*		margin-right: auto;*/
	color: #222222;
	line-height: 2;
	text-indent: 25px;
    width:100%;
   
}

.indentAside {
	font-family: 'Oxygen', sans-serif;
	font-size: 13;
	width: 60%;
	margin-left: 50px;
	color: #333;
}

.footer {
	width: 100%;
	background-color: rgb(39, 40, 34);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
  	box-shadow: 0px 0px 3px 3px #ccc;
}

.sectionButton {
	font-family: 'Oxygen', sans-serif;
	font-size: 11;
	color: #666;
	float: left;
	clear: both;
	padding: 5px;
	margin-right: 10px;
	/*border: solid 1px #333;*/
	border-radius: 3;
	cursor: pointer;
	/*text-shadow: 1px 1px #222;*/
}

.sectionButton:hover {
	color: #fff;
	background-color: #333;
}

.current {
	color: #fff;
	background-color: #333;
	/*outline: solid 1px #444;*/
}

.sectionButton a:link {
	color: #666;
	text-decoration: none;
}

.sectionButton a:visited {
    color: #666;
    text-decoration: none;
}

.sectionButton a:hover {
    color: #fff;
    text-decoration: none;
}

.sectionButton a:active {
    color: #666;
    text-decoration: none;
}

.sectionButton:hover a {
    color: #fff;
    text-decoration: none;
}

.contentsHeader {
	font-family: 'Oxygen', sans-serif;
	font-size: 14;
	color: #888;
	padding: 5px;
	clear: both;
}

.menu {
	width: 900px;
}

label {
	font-family: 'Oxygen', sans-serif;
	font-size: 13;
}

sup { vertical-align: top; position: relative; top: -0.1em; }

